[project]
	description = A cluster consistency platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maithem (Maithem)
[access "refs/for/refs/*"]
	read = group user/Maithem (Maithem)
	push = group user/Maithem (Maithem)
	label-Code-Review = -2..+2 group user/Maithem (Maithem)
	label-Verified = -1..+1 group user/Maithem (Maithem)
	rebase = group user/Maithem (Maithem)
	removeReviewer = group user/Maithem (Maithem)
	submit = group user/Maithem (Maithem)
[access "refs/heads/*"]
	read = group user/Maithem (Maithem)
	create = group user/Maithem (Maithem)
	push = +force group user/Maithem (Maithem)
	pushMerge = group user/Maithem (Maithem)
[access "refs/tags/*"]
	push = +force group user/Maithem (Maithem)
	pushTag = group user/Maithem (Maithem)
	pushSignedTag = group user/Maithem (Maithem)
